<html>
<head>
  <link rel="stylesheet" href="stylesheets/dashboard.min.css" />
  <link rel="stylesheet" href="stylesheets/global.min.css" />
  <link rel="stylesheet" href="stylesheets/analysis.min.css" />
</head>

<div class="analysis-section">
  <!-- <div class="col col-1-2"> -->
<div class="chart-scroll">
  <canvas id="userChart" width="5000" height="400"></canvas>
</div>
<!-- </div> -->
<!-- <div class="col col-1-2"> -->
<div class="chart-details">
  <% allData.forEach((data, i) => { %>
    <div class="data-row data-row-<%= i %>">
      <h3><%= data.date %></h3>
      <i class="fa fa-plus expand-<%= i %>" aria-hidden="true"></i>
      <div class="details details-<%= i %>">
        <h3><%= data.score %></h3>
        <p>
          <%= data.entry %>
        </p>
      </div>
      <form method="post" action="/analysis/<%=data._id%>/delete">
        <button>delete</button>
      </form>
    </div>
  <% }); %>
<!-- </div> -->
</div>
</div>

<script>
  var userScores = [<%- userScoresBack %>];
  console.log(<%- date %>);
  // var chartLabel = [];
  // chartLabel.push(<%- date %>);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="/javascripts/user-chart.js"></script>
</html>
